.cart{
    /* border: 2px solid rgb(247, 187, 22); */
    border-radius: 5px;
    margin-top: 100px;
    padding-left: 30px;
    /* background-color: #556B2F; */

}
.cart p{
    font-size: 25px;
    font-weight: 600;
}