.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.authors-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
   
}
.authors-container{
   border: 2px solid lightslategray;
   border-radius: 5px;
   background-color: rgb(141, 209, 63);
   margin: 10px;
   ;

}