/* container style  */
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.container h2{
    text-align: center;
}

.authors-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    color: #FDF181;
   border-radius: 5px;
}

.total-authors{
    text-align: center;
}